.joinbox{
	width:1190px;
}
.jointop{
	background-color: #e1e1e1;
	padding: 25px;
}
.jointop,.join h2,h5,p,h3{
	margin-top: 10px;
} 
.join{
	padding: 25px;
}
.join:hover{
	background-color: #e1e1e1;
}
.joinspan1{
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	padding: 4px;
}
.joinspan2{
	font-style: italic;
	padding:4px;
	margin-left:3px;
}
.joinspan3{
	background-color: #337ab7;
	border-radius: 3px;
	padding:4px;
	color: #fff;
	margin-left:6px;
}